<div class="container">
  <div class="jumbotron">
    <div class="row">

      <div class="col-md-5 text-center personal-info">
        <img src="../images/lucasfcosta.png" class="img-responsive img-circle" alt="lucasfcosta">
        <p>Lucas F. Costa</p>
      </div>

      <div class="col-md-2"></div>

      <div class="col-md-5 text-center personal-info">
        <img src="../images/vieiralucas.jpeg" class="img-responsive img-circle" alt="vieiralucas">
        <p>Lucas Vieira</p>
      </div>

    </div>
  </div>
</div>
